#container{
    width:400px;
    margin:0 auto;
    margin-top:10%;
}
/* Bordered form */
form {
    width:100%;
    padding: 30px;
    border: 1px solid #f1f1f1;
    background: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#container h1{
    width: 38%;
    margin: 0 auto;
    padding-bottom: 10px;
}

.navbar {
    width: 100%;
    background-color: #1E90FF;
    overflow: auto;
}

.navbar a {
    float: left;
    padding: 30px;
    color: white;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover {
    background-color: #000;
}